<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.PageDao">
    <resultMap type="com.cms.entity.PageEntity" id="page">
        <id property="pageId" column="p_id"/>
        <result property="pageName" column="p_name"/>
        <result property="fileName" column="p_fileName"/>
        <result property="pagePath" column="p_path"/>
        <result property="creatorId" column="p_cid"/>
        <result property="createTime" column="p_ctime"/>
        <association javaType="com.cms.entity.SiteEntity" property="siteEntity"  >
            <id property="siteId"  column="s_id"/>
            <result property="siteName" column="s_name" />
        </association>
        <association javaType="com.cms.entity.TemplateEntity" property="templateEntity" >
            <id property="templateId"  column="t_id"/>
            <result property="templateName" column="t_name" />
        </association>
        <association javaType="com.cms.entity.SystemEntity" property="systemEntity" >
            <id property="sysId"  column="sys_id"/>
            <result property="sysName" column="sys_name" />
        </association>
    </resultMap>

    <resultMap type="com.cms.entity.PageEntity" id="pagesBySysid">
        <id property="pageId" column="p_id"/>
        <result property="pageName" column="p_name"/>
        <result property="pagePath" column="p_path"/>
        <result property="createTime" column="p_ctime"/>
        <association javaType="com.cms.entity.SiteEntity" property="siteEntity"  >
            <id property="siteId"  column="s_id"/>
            <result property="siteName" column="s_name" />
        </association>
    </resultMap>

    <!-- 获取内容 -->
    <select id="getPageInfo" resultMap="page">
        SELECT
            p.p_id,
            p.p_name,
            p.p_fileName,
            p.p_path,
            p.p_state,
            p.p_cid,
            p.p_ctime,
            s.s_id,
            s.s_name,
            t.t_id,
            t.t_name,
            sys.sys_id,
            sys.sys_name
        FROM
            page p
        LEFT JOIN site s ON s.s_id = p.p_sid
        LEFT JOIN template t ON t.t_id = p.p_templateId
        LEFT JOIN systeminfo sys ON sys.sys_id = p.p_sysid
    </select>

    <!--获得系统-站点-页面-->
    <select id="getPagesBySysid" resultMap="pagesBySysid">
        SELECT
            *
        FROM
            site
        LEFT JOIN page ON site.s_id = page.p_sid
        WHERE 1=1
        <if test="sysId!=null">
            and site.s_sysid = #{sysId}
        </if>

    </select>
</mapper>