<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.PageDao">
    <resultMap type="com.cms.entity.PageEntity" id="page">
        <id property="pageId" column="p_id"/>
        <result property="pageName" column="p_name"/>
        <result property="fileName" column="p_fileName"/>
        <result property="pagePath" column="p_path"/>
        <result property="state" column="p_state" />
        <result property="siteId" column="p_sid"/>
        <result property="templateId" column="p_templateid" />
        <result property="sysId" column="p_sysid"/>
        <result property="creatorId" column="p_cid"/>
        <result property="createTime" column="p_ctime"/>
        <association javaType="com.cms.entity.SiteEntity" property="siteEntity"  >
            <id property="siteId"  column="s_id"/>
            <result property="siteName" column="s_name" />
        </association>
        <association javaType="com.cms.entity.TemplateEntity" property="templateEntity" >
            <id property="templateId"  column="t_id"/>
            <result property="templateName" column="t_name" />
            <result property="templatePath" column="t_path" />
        </association>
        <association javaType="com.cms.entity.SystemEntity" property="systemEntity" >
            <id property="sysId"  column="sys_id"/>
            <result property="sysName" column="sys_name" />
        </association>
    </resultMap>

    <resultMap type="com.cms.entity.PageEntity" id="pagesBySysid">
        <id property="pageId" column="p_id"/>
        <result property="pageName" column="p_name"/>
        <result property="pagePath" column="p_path"/>
        <result property="state" column="p_state" />
        <result property="createTime" column="p_ctime"/>
        <association javaType="com.cms.entity.SiteEntity" property="siteEntity"  >
            <id property="siteId"  column="s_id"/>
            <result property="siteName" column="s_name" />
        </association>
    </resultMap>

    <!--获得系统-站点-页面-->
    <select id="getPagesBySysid" resultMap="pagesBySysid">
        SELECT
          p.*, s.s_name
        FROM
          page p
        LEFT JOIN site s ON p.p_sid = s.s_id
        WHERE
          1=1
        <if test="sysId!=null">
            and p.p_sysid = #{sysId}
        </if>

    </select>

    <!-- 获取内容 -->
    <select id="getPagesByCondition" resultMap="page">
        SELECT
            p.p_id,
            p.p_name,
            p.p_fileName,
            p.p_path,
            p.p_state,
            p.p_cid,
            p.p_ctime,
            p.p_state,
            s.s_id,
            s.s_name,
            t.t_id,
            t.t_name,
            sys.sys_id,
            sys.sys_name
        FROM
            page p
        LEFT JOIN site s ON s.s_id = p.p_sid
        LEFT JOIN template t ON t.t_id = p.p_templateId
        LEFT JOIN systeminfo sys ON sys.sys_id = p.p_sysid
        where 1=1
        <if test="sysId!=-1">
            and sys.sys_id=${sysId}
        </if>
        <if test="name != null ">
            and p.p_name like concat('%','${name}','%')
        </if>
    </select>
    
    <delete id="deletePage">
        delete from page
        where p_id=${pageId}
    </delete>

    <!--添加页面-->
    <insert id="addPage" parameterType="com.cms.entity.PageEntity">
        insert into page
        values (${newId}, '${name}','${pageFileName}', '${path}', ${siteId}, ${templateId}, ${sysId}, ${state}, ${cId}, now())
    </insert>

    <!--添加页面内容关联-->
    <insert id="addPageDataInfo" parameterType="com.cms.entity.PageEntity">
        insert into pagedatainfo
        values(${pdId},${did},${newId})
    </insert>

    <!--获取页面存储路径以及模板id-->
    <select id="getPageinfoByPid" resultMap="page">
        SELECT
            p.p_path,
            t.t_path
        FROM
            page p
        LEFT JOIN template t ON p.p_templateId = t.t_id
        WHERE
            p.p_id = ${id}
    </select>

    <!--根据页面id获取部分页面信息-->
    <select id="getPageByPageId" resultMap="page">
        SELECT
            p.p_fileName,
            p.p_name,
            p.p_path,
            p.p_sid,
            p.p_templateId,
            p.p_sysid
        FROM
            page p
        WHERE
            p.p_id = ${pageId}
    </select>

    <!--页面生成后更改页面状态-->
    <update id="updataState" parameterType="com.cms.entity.PageEntity">
        UPDATE page
        SET p_state = 1
        WHERE
            p_id = ${pageId}
    </update>
</mapper>