<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.TemplateDao">
    <resultMap type="com.cms.entity.TemplateEntity" id="template">
        <id property="templateId" column="t_id"/>
        <result property="templateName" column="t_name"/>
        <result property="describe" column="t_describe"/>
        <result property="templatePath" column="t_path"/>
        <result property="templateTags" column="t_tags"/>
        <result property="creatorId" column="t_cid"/>
        <result property="createTime" column="t_ctime"/>
        <result property="state" column="t_state"/>
        <association javaType="com.cms.entity.SystemEntity" property="systemEntity"  >
            <id property="sysId"  column="sys_id"/>
            <result property="sysName" column="sys_name" />
        </association>
    </resultMap>

    <!-- 根据系统名获取模板信息-->
    <select id="getTemplateBySysid" resultMap="template">
        SELECT
            t.t_id,
            t.t_name
        FROM
            template t
        WHERE
            1=1
            <if test="sysid!=null">
               AND t.t_sysid =#{sysId}
            </if>
    </select>

    <!-- 根据模板id获得taglist-->
    <select id="getTagsByTemplateId" resultMap="template">
        SELECT
            t_tags
        FROM
            template
        WHERE
            t_id = ${id}
    </select>

    <!-- 获取内容 -->
    <select id="getTemplateByCondition" resultMap="template">
        SELECT
            t.t_id,
            t.t_name,
            t.t_describe,
            t.t_path,
            t.t_tags,
            t.t_state,
            t.t_cid,
            t.t_ctime,
            sys.sys_id,
            sys.sys_name
        FROM
            template t
        LEFT JOIN systeminfo sys ON sys.sys_id = t.t_sysid
        where 1=1
          <if test="sysId!=-1">
              and sys.sys_id=${sysId}
          </if>
          <if test="state!=-1">
              and t.t_state=${state}
          </if>
        <if test="templateName != null ">
            and t.t_name like concat('%','${templateName}','%')
        </if>
        <if test="parentId!=100">
            AND sys.sys_id IN (
                SELECT
                  sys_id
                FROM
                  systeminfo sys
                WHERE
                  sys.sys_cid = ${parentId}
            )
        </if>
        ORDER BY t.t_id ASC
    </select>

    <insert id="addTemplate" parameterType="com.cms.entity.TemplateEntity">
        INSERT INTO template (
            t_id,
            t_name,
            t_describe,
            t_path,
            t_tags,
            t_sysid,
            t_cid,
            t_ctime,
            t_state
        )
        VALUES (
            ${id},'${name}','${describe}','${path}','${tags}',${sysId},${creatorId},now(),${state}
        )
    </insert>

    <!-- 修改模板信息 -->
    <update id="editTemplate" parameterType="com.cms.entity.TemplateEntity">
        UPDATE template t
        <set>
            <if test="filePath!=null">
                t.t_path = '${filePath}',
            </if>
            <if test="tags!=null">
                t.t_tags = '${tags}',
            </if>
            <if test="templateName!=null">
                t.t_name = '${templateName}'
            </if>
            <if test="describe!=null">
                t.t_name = '${describe}'
            </if>
            <if test="state!=-1">
                t.t_state = ${state}
            </if>
        </set>
        WHERE
            t.t_id = ${templateId}
    </update>

</mapper>