<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.UserDao">
    <resultMap type="com.cms.entity.UserEntity" id="user">
        <id property="id" column="u_id"/>
        <result property="name" column="u_name"/>
        <result property="account" column="u_account"/>
        <result property="password" column="u_password"/>
        <result property="state" column="u_state"/>
    </resultMap>

    <!--新增用户-->
    <insert id="addUser" parameterType="com.cms.entity.UserEntity">
        INSERT INTO `user` (
            u_id,
            u_name,
            u_account,
            u_password,
            u_parent,
            u_state
        )
        VALUES
            (${id},'${name}','${account}','${password}',${parentId},${state})
    </insert>

    <!-- 获取当前账户对应密码,判断能否登陆-->
    <select id="getUserByCondition" resultMap="user">
        SELECT
          *
        FROM
          `user` u
        WHERE
            1 = 1
            <if test="account!=null">
                AND u.u_account like concat('%','${account}','%')
            </if>
            <if test="name!=null">
                AND u.u_name like concat('%','${name}','%')
            </if>
            <if test="parentId!=100">
                AND u.u_parent = ${parentId}
            </if>
        ORDER BY u.u_id ASC
    </select>
</mapper>